[submodule "Libraries/DzHTMLText"]
	path = Libraries/DzHTMLText
	url = https://github.com/DeveloppeurPascal/DzHTMLText.git
[submodule "Libraries/librairies"]
	path = Libraries/librairies
	url = https://github.com/DeveloppeurPascal/librairies
