[submodule "Libraries/librairies"]
	path = Libraries/librairies
	url = https://github.com/DeveloppeurPascal/librairies
[submodule "Libraries/DzHTMLText"]
	path = Libraries/DzHTMLText
	url = https://github.com/digao-dalpiaz/DzHTMLText.git
